entrypoint = "Main.js"
modules = ["nodejs-20:v8-20230920-bd784b9"]
hidden = [".config", "package-lock.json", "package.json" , "config.json.temp", ".lesson", ".git",".gitignore"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["node", "Main.js"]
deploymentTarget = "cloudrun"
ignorePorts = false